@charset "UTF-8";

header{
	background-color: #4B0082;
	top:0px;
	bottom: 0px;
	width:100%;
	padding:10px;
	margin: auto;
	box-shadow: 0px 2px 2px #ccc;
}

body,html {
	margin:0px;
	padding:0px;
	background-color: white;
}

h1{
	text-align:center;
	color: white
}

.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
	text-align: center;
}

.ui-panelgrid td {
    background-color: white;
    border: none !important;
    
}

.ui-panelgrid tr{
	border:none !important;
}

.colunas{
	color:black ;
	width:150px !important;
}

.btCadastrar{
	top:15px;
	right:100px;
}

.panelgrid{
	margin:auto 299px;
}

.ui-widget-content{
	border:none !important;	
}

@media(max-width:1049px ){
	.btCadastrar{
		left:10px;
	}
	.ui-panelgrid .ui-grid-responsive .ui-grid-row {
		border:none !important;
	}
}